/* Contact us created using: https://www.youtube.com/watch?v=AmeTQHcsUgQ */


/* * class reefers to all elements*/

* {
    margin: 0;
    padding: 0;
}

.container {
    width: 900px;
    height: 650;
    margin: 45px;
    padding: 25px;
    box-shadow: 0 0 20px darkgrey;
    border-radius: 5px;
}

.container p {
    letter-spacing: 2px;
    text-align: center;
    font-size: 50px;
    text-transform: uppercase;
}


/* 
.input refeeres to ALL input methods
<input type="text" class="" placeholder=""> 
*/

.input {
    width: 100%;
    box-sizing: border-box;
    padding: 30px;
    outline: none;
    border-radius: 5px;
}


/*
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Karla', sans-serif;
}

.container {
    width: 800px;
    height: 600px;
    margin: 50px auto;
    padding: 40px;
    box-shadow: 0 0 20px darkgray;
}

.container p {
    text-transform: uppercase;
    text-align: center;
    font-size: 45px;
    margin-bottom: 20px;
    letter-spacing: 1px;
}

.input,
.msg .area {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: 2px solid darkgray;
    font-size: 14px;
    border-radius: 5px;
    outline: none;
    transition: all 0.5s ease;
}

.login .input {
    width: 48%;
    float: left;
    margin-right: 4%;
}

.login .input:last-child {
    margin-right: 0;
}

.msg .area {
    height: 200px;
}

.btn {
    width: 250px;
    background: antiquewhite;
    height: 50px;
    text-align: center;
    line-height: 50px;
    text-transform: uppercase;
    margin: 0 auto;
    cursor: pointer;
    border-radius: 5px;
}
/*